<?xml version="1.0"?>
<config>
  <modules>
    <RicardoMartins_Forgotpassword>
      <version>0.1.0</version>
    </RicardoMartins_Forgotpassword>
  </modules>
  <global>
    <models>
      <forgotpassword>
        <class>RicardoMartins_Forgotpassword_Model</class>
      </forgotpassword>
    </models>
    <helpers>
      <forgotpassword>
        <class>RicardoMartins_Forgotpassword_Helper</class>
      </forgotpassword>
    </helpers>
  </global>
  <frontend>
    <translate>
      <modules>
        <forgotpassword>
          <files>
            <default>RicardoMartins_Forgotpassword.csv</default>
          </files>
        </forgotpassword>
      </modules>
    </translate>
    <events>
      <controller_action_predispatch>
        <observers>
          <controller_action_before>
            <class>forgotpassword/observer</class>
            <method>hookToControllerActionPreDispatch</method>
          </controller_action_before>
        </observers>
      </controller_action_predispatch>
      <customer_action_forgotpassword_before>
        <observers>
          <customer_action_forgotpassword_before>
            <class>forgotpassword/observer</class>
            <method>beforeForgotpasswordPostAction</method>
          </customer_action_forgotpassword_before>
        </observers>
      </customer_action_forgotpassword_before>
    </events>
  </frontend>
  <adminhtml>
    <translate>
      <modules>
        <forgotpassword>
          <files>
            <default>RicardoMartins_Forgotpassword.csv</default>
          </files>
        </forgotpassword>
      </modules>
    </translate>
  </adminhtml>
  <default>
    <customer>
      <password>
        <show_no_exist_notice>1</show_no_exist_notice>
      </password>
    </customer>
  </default>
</config> 